template/login.pug
extends module/layout2
block title
    title COLMO
    meta(name="keywords" content=" ")
    meta(name="description" content=" ")
block style


block script

block content

    .m-loginWrap#J-loginWrap
        .loginHeader
            .cm-con.mr-100.ml-100.clear
                .loginLogo
                    a(href="index.html")
                        img(src="static/img/login-logo.png")
                .loginRegister
                    a(href="register.html") 还不是会员，
                        span 立即注册

        .loginContent
            .txt-table
                .txt-table-cell
                    .login-int
                        h4 会员登录
                        p#tel-p.J-tel-p.login-p.l-tel
                            input.J-tel#tel(type="text" placeholder="请输入手机号" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength=11 autocomplete="off")
                            span.tips
                        p#yzm-p.J-yzm-p.login-p.l-yzm
                            input.J-codeInt#codeInt(type="text" placeholder="请输入验证码" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength=6 autocomplete="off")
                            a.J-btncode#btncode.clickable(href="javascript::") 获取验证码
                            span.tips
                        p.login-p.l-btn
                            input#signIn.J-signIn.clickable(type="button" value="立即登录")

        .loginFooter#J-loginFooter
            .m-footer
                .footer-copy
                    .footer-con.clear
                        .copy-txt.fl
                            p.copy-p COLMO 2019 ALL Rights Reserved
                            p.copy-p 沪ICP备19024288号-2
                            p.copy-p
                                a(href="agreement.html") 隐私政策
                        .goTop.fr
                            a(href="index.html")
                                span
                                | 返回首页
                        .footer-share.bshare-custom.fr
                            a.f-s02.bshare-weixin(href="javascript:;")
                            a.f-s03.bshare-sinaminiblog(href="javascript:;")
                            a.f-s01(href="javascript:;")
                            script(type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh")
                            script(type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js")

dist/login.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no"><!--force webkit on 360-->
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit"><!--force edge on IE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="360-fullscreen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-page-mode" content="app">
    <title>COLMO</title>
    <meta name="keywords" content=" ">
    <meta name="description" content=" "><!--[if !IE]><!-->
    <link rel="stylesheet" type="text/css" href="static/css/swiper-3.4.0.min.css"><!--<![endif]-->
<!--[if IE]>
    <link rel="stylesheet" type="text/css" href="static/css/swiper-2.7.6.min.css"><![endif]-->
    <link rel="stylesheet" type="text/css" href="static/css/animate.css">
    <link rel="stylesheet" type="text/css" href="static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="static/css/common.css">
    <link rel="stylesheet" type="text/css" href="static/css/h.css">
    <link rel="stylesheet" type="text/css" href="static/css/header.css">
    <link rel="stylesheet" type="text/css" href="static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="static/css/cookies.css">
  </head>
  <body>
    <div class="m-loginWrap" id="J-loginWrap">
      <div class="loginHeader">
        <div class="cm-con mr-100 ml-100 clear">
          <div class="loginLogo"><a href="index.html"><img src="static/img/login-logo.png"></a></div>
          <div class="loginRegister"><a href="register.html">还不是会员，<span>立即注册</span></a></div>
        </div>
      </div>
      <div class="loginContent">
        <div class="txt-table">
          <div class="txt-table-cell">
            <div class="login-int">
              <h4>会员登录</h4>
              <p class="J-tel-p login-p l-tel" id="tel-p">
                <input class="J-tel" id="tel" type="text" placeholder="请输入手机号" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="11" autocomplete="off"><span class="tips"></span>
              </p>
              <p class="J-yzm-p login-p l-yzm" id="yzm-p">
                <input class="J-codeInt" id="codeInt" type="text" placeholder="请输入验证码" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="6" autocomplete="off"><a class="J-btncode clickable" id="btncode" href="javascript::">获取验证码</a><span class="tips"></span>
              </p>
              <p class="login-p l-btn">
                <input class="J-signIn clickable" id="signIn" type="button" value="立即登录">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="loginFooter" id="J-loginFooter">
        <div class="m-footer">
          <div class="footer-copy">
            <div class="footer-con clear">
              <div class="copy-txt fl">
                <p class="copy-p">COLMO 2019 ALL Rights Reserved</p>
                <p class="copy-p">沪ICP备19024288号-2</p>
                <p class="copy-p"><a href="agreement.html">隐私政策</a></p>
              </div>
              <div class="goTop fr"><a href="index.html"><span></span>返回首页</a></div>
              <div class="footer-share bshare-custom fr"><a class="f-s02 bshare-weixin" href="javascript:;"></a><a class="f-s03 bshare-sinaminiblog" href="javascript:;"></a><a class="f-s01" href="javascript:;"></a>
                <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;amp;uuid=&amp;amp;pophcol=2&amp;amp;lang=zh"></script>
                <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="vendor/js/vendor.js"></script><!--[if !IE]><!-->
    <script type="text/javascript" src="static/js/swiper-3.4.0.min.js"></script><!--<![endif]-->
<!--[if IE]>
    <script type="text/javascript" src="static/js/swiper-2.7.6.min.js"></script><![endif]-->
    <script type="text/javascript" src="static/js/header.js"></script>
    <script type="text/javascript" src="static/js/content.js"></script>
    <script type="text/javascript" src="static/js/cookies.js"></script>
  </body>
</html>
